// Mobile - Header Img 
.header__img {
  height: 2.5rem;
  margin: 0.25rem 0;
  width: 2.5rem;
}

// Mobile - Button
.btn {
  @include btn-styling;
  height: 3rem;
  width: 9.4375rem;
}
.btn--light {
  background: $orange;
  color: $white;
}
.btn--light:hover {
  cursor: pointer;
  background: $light-orange;
}
.btn--dark {
  background: $light-gray;
  color: $dark-blue;
}
.btn--dark:hover {
  cursor: pointer;
  background: $dark-blue;
  color: $white;
}

// Mobile - Call To Action 
.cta {
  width: 87.2%;
  max-width: 32rem;
}
.cta--positioning {
  margin: 4rem auto;
  text-align: left;

  @media only screen and (min-width:32rem) {
    text-align: center;
  }
}

.cta__title {
  font-size: $h1-font-size ;
  text-transform: uppercase;
}
.cta__title--positioning {
  margin-bottom: 2rem;
}

.cta__text {
  @include p-styling;
}
.cta__text--positioning {
  margin-bottom: 2rem;
}

.cta__date {
  @extend .cta__text;
  display: inline-block;
  color: $gray;
  font-weight: 500;
  text-transform: uppercase;
}
.cta__date--positioning {
  margin: 0 0 0 2rem;
}

// Mobile - Image Components
.keyboard {
  background: url(../assets/mobile/image-keyboard.jpg) top left/100% 100% no-repeat;
  border-radius: $border-radius-img;
  height: 20.6875rem;
  width: 99.2%;
}
.keyboard--positioning {
  margin: 0 0 24px 24px;
}

.phone-keyboard {
  background: url(../assets/mobile/image-phone-and-keyboard.jpg) top left/100% 100% no-repeat $orange;
  background-blend-mode: multiply;
  border-radius: $border-radius-img;
  width: 34.4%;
}

.glass-keyboard {
  background: url(../assets/mobile/image-glass-and-keyboard.jpg) top left/100% 100% no-repeat;
  border-radius: $border-radius-img;
  width: 58.6%;
}

// Mobile - Product Info layout 
.product-info {
  width: 87.2%;
}
.product-info--positioning {
  margin: 4.6875rem auto 6.9375rem auto;
}
.product-info__title {
  font-size: $h2-font-size ;
  line-height: $h2-line-height;
  text-align: center;
  text-transform: uppercase;
  width: 68%;
}
.product-info__title--positioning {
  margin: 0 auto 1.5rem auto;
}
.product-info__text {
  @include p-styling;
  text-align: center;
}

//Mobile Card Component
.card {
  width: 87.2%;
}
.card--positioning {
  margin: 0 auto 4rem auto;
}
.card__img {
 @include card-img-styling;
}
.card__img--positioning {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.computer-padding {
  padding: 1.375rem 1.125rem;
}
.bluetooth-padding {
  padding: 1.125rem 1.25rem;
}
.battery-padding {
  padding: 1.375rem 1rem;
}
.bulb-padding {
  padding: 1rem 1rem;
}

.card__title {
  @include card-title-styling;
}
.card__title--positioning {
  margin: 3rem auto 1.5rem auto;
  text-align: center;
}

.card__text {
  @include p-styling;
  text-align: center;
}

// Mobile - Footer component
.footer__text {
  @include p-styling;
  text-align: center;
  
  span {
   color: $dark-blue;  
  }
}

// Tablet CSS
@media only screen and (min-width: 48rem) {
  // Tablet - Call To Action Component
  .cta {
    width: auto;
  }
  .cta--positioning {
    text-align: left;
    align-self: center;
    grid-column: 1/7;
    margin: 0;
  }

  .cta__text--positioning {
    padding-right: 4.375rem;
  }

  // Tablet - Keyboard Img
  .keyboard {
    background: url(../assets/tablet/image-keyboard.jpg) top left/100% 100% no-repeat;
    height: 26.5625rem;
    width: 62.2395833vw; 
    max-width: 50rem;
    position: absolute;
    right: -99px;
  }
  .keyboard--positioning {
    grid-column: 7/13;
    margin: 0;
  }

  .phone-keyboard {
    background: url(../assets/tablet/image-phone-and-keyboard.jpg) top left/100% 100% no-repeat $orange;
    height: 20rem;
  }
  
  .glass-keyboard {
    background: url(../assets/tablet/image-glass-and-keyboard.jpg) top left/100% 100% no-repeat;
    height: 20rem;
  }

  // Tablet - Product Info
  .product-info--positioning {
    grid-column: 1/13;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1.8125rem 0;
    width: 100%;
  }
  .product-info__title {
    margin: 0 auto 1.5rem 0;
    text-align: left;
    width: 37.0101597%;
  }
  .product-info__text {
    text-align: left;
    width: 57.7648766%;
  }
  
  // Tablet Card Components
  .card {
    width: 100%;
  }
  .card--positioning {
    margin: 0 auto 4rem auto;
  }
  .card__img {
    background: $orange;
    border-radius: 1.25rem 1rem;
    height: 4.0625rem;
    padding: 1.25rem;
    width: 4.0625rem;
  }
  .card__img--positioning {
    left: 0;
    transform: translateX(0);
  }
  .card__title {
    font-size: $h3-font-size;
    font-weight: $h-font-weight;
    line-height: $p-line-height;
    text-transform: uppercase;
  }
  .card__title--positioning {
    margin: 3rem auto 1.5rem auto;
    text-align: left;
  }
  .card__text {
    @include p-styling;
    text-align: left;
  }
}

// Desktop - Component CSS
@media only screen and (min-width: 90rem) {
  // Desktop - Call To Action Component
  .cta--positioning {
    grid-column: 1/6;
    margin: 2em;
  }
  
  .cta__title {
    font-size: calc($h1-font-size * 1.4);
  }

  .cta__text {
    font-size: calc($p-font-size * 1.2);
  }
  .cta__text--positioning {
    padding-right: 0;
  }

  // Desktop - Keyboard Img
  .keyboard {
    background: url(../assets/desktop/image-keyboard.jpg) top left/100% 100% no-repeat;
    height: 30rem;
    max-width: 75rem;
  }
  .keyboard--positioning {
    grid-column: 7/13;
    position: static;
    width: auto;
    max-width: auto;
  }

  .phone-keyboard {
    background: url(../assets/tablet/image-phone-and-keyboard.jpg) top left/100% 100% no-repeat $orange;
    height: 30rem;
  }
  
  .glass-keyboard {
    background: url(../assets/tablet/image-glass-and-keyboard.jpg) top left/100% 100% no-repeat;
    height: 30rem;
  }

  // Desktop - Product Info
  .product-info--positioning {
    grid-column: 9/13;
    flex-direction: column;
    align-items: none;
    justify-content: center;
    margin: 0;
  }
  .product-info__title {
    font-size: calc($h2-font-size * 1.2);
    padding: 0 2.5rem;
    width: auto;
  }
  .product-info__text {
    font-size: calc($p-font-size * 1.1);
    padding: 0 2.5rem;
    width: auto;
  }
  
  // Desktop Card Components
  .card {
    padding-right: 0.625rem;
  }

  // Desktop - Design Components
  .box {
    display: block;
    background: $light-gray;
    border-radius: $border-radius-img;
    height: 14.75rem;
    width: 15.9375rem;
  }
  .box--left {
    position: absolute;
    left: -7.5rem;
    top: 58.875rem;
  }
  .box--right {
    position: absolute;
    right: -7.5rem;
    top: 11.5625rem;
  }
}