// VARIABLES
// Colors
$orange: #F16718;
$light-orange: #ff9b62;
$dark-blue: #162542;
$gray: #7b8bad;
$light-gray: #e8eff2;
$white: #ffffff;

// Typography
$font-family: 'Barlow', sans-serif;

$h-font-weight: 900;

$h1-font-size: 3rem;

$h2-font-size: 2rem;
$h2-line-height: 2.25rem;

$h3-font-size: 1.5rem;
$h3-line-height: 1.75rem;

$p-font-size: 1rem;
$p-line-height: 1.625rem;
$p-font-weight: medium;

$border-radius-btn: 0.5rem;
$border-radius-img: 1.25rem;

// Mixins
@mixin p-styling {
  color: $gray; 
  font-size: $p-font-size;
  font-weight: $p-font-weight;
  line-height: $p-line-height;
}

@mixin btn-styling {
  border: none;
  border-radius: $border-radius-btn;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin card-img-styling {
  background: $orange;
  border-radius: 1.25rem 1rem;
  height: 4.0625rem;
  width: 4.0625rem;
}

@mixin card-title-styling {
  font-size: $h3-font-size;
  font-weight: $h-font-weight;
  line-height: $p-line-height;
  text-transform: uppercase;
}

// CSS Resets
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, * ::before, * ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  min-height: 100vh;
  min-width: 22.625rem;
  max-width: 100%;
}





