// Header Layout
.header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin: 1.4375rem auto;
  width: 87.2%;
  max-width: 43.0625rem;
}

//Main Layout
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(9, auto);
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

// Layout/Container for a pair of images
.two-img-container {
  display: flex;
  column-gap: 6.4343164%;
  height: 12.0625rem;
  position: relative;
  left: -1.5rem;
  width: 100%;
}

//Footer Layout 
.footer {
  margin: 0 auto 3.125rem;
}

// Tablet - Layout CSS
@media only screen and (min-width: 48rem) {
  body {
    overflow-x: hidden;
  }

  .header {
    margin: 3.4375rem auto 5.1875rem;
    width: 89.7135417%;
    max-width: 90rem;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(26.5625rem, auto)  minmax(25.375rem, auto) minmax(10.375rem, auto)  minmax(47.6875rem,auto) repeat(1, auto);
    grid-column-gap: 0.625rem;
    overflow-x: hidden;
    width: 89.7135417%;
    margin: 0 auto;
  }

  .two-img-container {
    grid-column: 1/13;
    display: flex;
    column-gap: 4.3541364%;
    height: 20rem;
    margin: 2.6875rem auto;
    position: static;
  }

  .product-details {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.625rem;
    margin: 7.0625rem auto;
  }

  .footer {
    margin: 1.8125rem auto 3.125rem;
  }
}

// Desktop - Layout CSS
@media only screen and (min-width: 90rem) {
  body {
    overflow-x: hidden;
  }

  .header {
    margin: 3.4375rem auto 5.1875rem;
    width: 79.1666667%;
    max-width: 100%;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(30rem, auto)  minmax(31.875rem, auto) minmax(37.4375rem, auto);
    grid-column-gap: 1.875rem;
    overflow-x: hidden;
    width: 79.1666667%;
    max-width: 100%;
    margin: 0 auto;
  }

  .two-img-container {
    grid-column: 1/9;
    display: flex;
    column-gap: 4.3541364%;
    height: 30rem;
    margin: 1.875rem auto;
    position: static;
  }

  .product-details {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.875rem;
    margin: 8.625rem auto;
  }

  .footer {
    margin: 1.8125rem auto 3.125rem;
  }
}




